
body {
  background-color: rgb(0, 115, 169);
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: xx-large;
}

#board {
  width: 900px;
  height: 500px;
  border: 1px solid white;
  background-color: black;
  position: relative;
}

.paddle {
  background-color: rgb(255, 255, 255);
  width: 15px;
  height: 125px;
  position: absolute;
}
#paddleLeft {
  left: 15px;   /* Uncomment if you want to set a "starting" position */
  top: 100px;    /* Uncomment if you want to set a "starting" position */
}

#paddleRight {
  left: 870px;
  top: 100px;

}

#ball {
  background-color: white;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  position:absolute;
  left: 435px;
  top: 220px;
}

#scoreLeft {

}

#scoreRight {

}
